*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    background-color: #f4f4f4;
    height: 1000px;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.wrapper .top-nav-wrap{
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
}
.wrapper .top-nav-wrap .top-nav{
    width: 1190px;
    height: 35px;
    margin:  0px auto;
    /* border: 1px solid black; */
}
.wrapper .top-nav-wrap .top-nav .top-nav-l{
    float: left;
}
.wrapper .top-nav-wrap .top-nav .top-nav-r{
    float: right;
}
.wrapper .top-nav-wrap .top-nav li{
    float: left;
    margin-right: 7px;
}
.wrapper .top-nav-wrap .top-nav li a {
    color: #6c6c6c;
    font-size: 12px;
    line-height: 35px;
    padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav li a:hover,
.wrapper .top-nav-wrap .top-nav li .login{
    color: #f40;
}
.wrapper .top-nav-wrap .top-nav .china{
    color: #6c6c6c;
    font-size: 12px;
    line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .china-span{
    padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav .cutOff .span{
    color: #ddd;
    line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .bgPic{
    display: inline-block;
    width: 6px;
    height: 3px;
    vertical-align:middle;
    background-size: 100% 100%;

}
.wrapper .top-nav-wrap .top-nav .xsjPic{
    background-image: url('img/xsj.png');
}
.wrapper .top-nav-wrap .top-nav .shopCarPic{
    width: 12px;
    height: 12px;
    background-image: url('img/gwc.png');
}
.wrapper .top-nav-wrap .top-nav .likePic{
    width:12px;
    height: 11px;
    background-image: url('img/star.png');
}
.wrapper .top-nav-wrap .top-nav .webNavPic{
    width: 12px;
    height:15px;
    background-image: url('img/dh.png');
}
/* 导航条结束 */
.wrapper .search-wrap{
    width: 100%;
    height: 97px;
    /* border: 1px solid black; */
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 9px;
}
.wrapper .search-wrap .search-con{
    width: 1190px;
    height: 88px;
    /* border: 1px solid black; */
    margin:0 auto;
}
.wrapper .search-wrap .search-con .log-box{
    display: inline-block;
    height: 80px;
    width:190px;
    /* border: 1px solid black; */
    vertical-align: middle;
}
.wrapper .search-wrap .search-con .log-box a{
    display: inline-block;
    width: 190px;
    height: 0;
    padding-top: 76px;
    overflow: hidden;
    background-size: 100%;
    background-image: url('img/logo.png');
    clear: both;
}
.wrapper .search-wrap .search-con .search-box .search-bd{
    width: 627px;
    height: 62px;
    /* border: 1px soild black; */
}
.wrapper .search-wrap .search-con .search-box .search-bd li{
    float: left;
    width: 36px;
    height: 22px;
    text-align:center;
    line-height: 22px;
    color: #f40; 
    margin-right: 4px;
    font-size: 12px;
}
.wrapper .search-wrap .search-con .search-box .search-bd li:hover{
    background-color: #ffeee5;
}
.wrapper .search-wrap .search-con .search-box .search-bd .select{
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color: #fff;
    font-weight: 700;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-tab{
    width:610px;
    height: 22px;
    margin-left: 17px;
    /* border: 1px soild black; */
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel{
    width: 627px;
    height: 40px;
    position: relative;
    /* border: 1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-bd .btn{
    position: absolute;
    right: 0px;
    top: 0;
    height: 40px;
    width:74px;
    z-index: 1000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.wrapper .search-wrap .search-con .search-box .search-bd .btn button{
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    border: none;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #fff; 
    font-size: 18px;
    font-weight: 700;
}
.wrapper .search-wrap .search-con .search-inp-box{
    width:551px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    height: 36px;
    overflow: hidden;
}
.wrapper .search-wrap .search-con .search-inp-box .search-inp{
    width: 427px;
    height: 36px;
    overflow: hidden;
}
.wrapper .search-wrap .search-con .search-inp-box .search-inp input{
    width: 472px;
    height: 24px;
    line-height: 24;
    border:none;
    outline: 0;
    text-indent: 10px;
    padding: 6px 16px;
    background-color: #fff;
}
.wrapper .search-wrap .search-con .search-panel .sousuo,
.wrapper .search-wrap .search-con .search-panel .camera{
    display: inline-block;
    position: absolute;
}
.wrapper .search-wrap .search-con .search-panel .sousuo{
    width: 12px;
    height: 16px;
    top: 11px;
    left: 12px;
    background: url('img/fdj.png') no-repeat;
    background-size: 100%;
}
.wrapper .search-wrap .search-con .search-panel .camera{
    width: 20px;
    height: 22px;
    top: 11px;
    right: 90px;
    background: url('img/camera.png') no-repeat;
    background-size: 100%;
}
.wrapper .search-wrap .search-con .search-box .search-ft{
    width:625px;
    height: 18px;
    /* border:1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-ft ul li{
    float: left;
}
.wrapper .search-wrap .search-con .search-box .search-ft ul li a{
    font-size: 12px;
    color:#666;
    margin-right: 8px;
}
.wrapper .search-wrap .search-con .search-box .search-ft a:hover,
.wrapper .search-wrap .search-con .search-box .search-ft ul .select a:hover{
    color: #ff5000;
}
.wrapper .search-wrap .search-con .search-box .search-ft .more{
    float: right;
    font-size: 12px;
    color:#666;
    line-height: 18px;

}
.wrapper .search-wrap .search-box{
    margin-left: 50px;
    display: inline-block;
    height: 87px;
    width: 627px;
    /* border: 1px solid black; */
    vertical-align: middle;
}
.wrapper .search-wrap .code-box{
    display: inline-block;
    height: 90px;
    width: 76px;
    border: 1px solid #eee;
    vertical-align: middle;
    position: relative;
    margin-left: 120px;
}
.wrapper .search-wrap .search-con .code-box .p-tb{
    display: inline-block;
    color: #ff5000;
    text-align: center;
    line-height: 20px;
    margin: 4px auto 0;
    width: 78px;
    font-size: 14px;
}
.wrapper .search-wrap .search-con .code-box .code{
    display: inline-block;
    width: 62px;
    height: 62px;
    background: url('img/ewm.png') no-repeat;
    background-size: 100% 100%;
    margin-left: 6px;
}
.wrapper .search-wrap .search-con .code-box .close{
    position: absolute;
    top: 0;
    height: 14px;
    width: 14px;
    border:1px solid #eee;
    left: -16px;
    line-height: 14px;
    text-align: center;
    color: #ddd;
    font-size: 14px;
}
/*中间导航*/
.wrapper .search-nav-wrap{
    width: 100%;
    height: 30px;
}
.wrapper .search-nav-wrap .screen-nav-con{
    width: 1190px;
    height: 30px;
    margin: 0 auto;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.wrapper .search-nav-wrap .screen-nav-con h2{
    float: left;
    width: 190px;
    height: 30px;
    color: #fff;
    background-color: #ff5000;
    font-size: 16px;
    line-height: 30px;
    text-align: center;

}
.wrapper .search-nav-wrap .screen-nav-con ul{
    float: left;
    height: 30px;
    font-size: 16px;
}
.wrapper .search-nav-wrap .screen-nav-con ul li{
    float: left;
    text-align: center;
    padding:0 4px;
    margin: 0 3px;
    line-height: 30px;
    color: #fff;
}
.wrapper .search-nav-wrap .screen-nav-con ul li a{
    color: #fff;
    line-height: 30px;
    text-align: center;

}
/* 导航结束 */
.wrapper .screen-box-wrap{
    width: 1190px;
    margin: 0 auto;
    /* border:1px solid black; */
    height: 632px;
}
.wrapper .screen-box-wrap .main{
    width: 890px;
    height: 632px;
    /* border: 1px solid black; */
    float: left;
}
.wrapper .screen-box-wrap .col-right{
    width: 288px;
    height: 622px;
    /* background-color: #f40; */
    /* border:1px solid black; */
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    background-color: #fff;
}
.wrapper .screen-box-wrap .col-right .member{
    width: 290px;
    height: 132px;
    padding: 3px 0 10px 0;
    background: url('img/bg.png') no-repeat;
    background-size: 100%;

}
.wrapper .screen-box-wrap .col-right .member .member-bd{
    width: 290px;
    height: 91px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx{
    width: 290px;
    text-align: center;
    height: 56px;

}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx .t{
    display: inline-block;
    height: 50px;
    width:50px;
    border-radius: 50%;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx img{
    border-radius: 50%;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx .hello{
    display: block;
    height: 17px;
    line-height: 17px;
    text-align: center;
    color: #333;
    font-size: 14px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx .t{
    width: 290px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    font-size: 14px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .icon,
.wrapper .screen-box-wrap .col-right .member .member-bd .club{
    display: inline-block;
    height: 17px;
    color: #ff5000;
    position: relative;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px 0 20px;
    background: #ffe4db;
    border-radius: 9px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .pic{
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background: url('img/pics.png') no-repeat; 
}
.wrapper .screen-box-wrap .col-right .member .member-bd .icon .pic{
    background-position: 0 -527.5px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .club .pic{
    background-position: 0 -528px;
}
.wrapper .screen-box-wrap .col-right .member .member-ft{
    width: 290px;
    height: 40px;
    text-align: center;
    margin-top: 8px;
}
.wrapper .screen-box-wrap .col-right .member .member-ft a{
    display: inline-block;
    width: 75px;
    height: 25px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    line-height: 25px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 7px;
}
.wrapper .screen-box-wrap .col-right .message{
    width: 290px;
    height: 26px;
    background-color: #ffe4db;
}
.wrapper .screen-box-wrap .col-right .message a{
    color: #ff5000;
    line-height: 26px;
    position: relative;
    padding-left: 82px;
    font-size: 12px;
}
.wrapper .screen-box-wrap .col-right .message a span{
    position: absolute;
    top:1px;
    right: -61px;
    width:7px;
    height: 10px;
    background: url('img/ysj.png') no-repeat;
    background-size: 100% 100%;
}
.wrapper .screen-box-wrap .col-right .notice{
    height: 98px;
    padding-top: 10px;
    width: 290px;
    border-bottom:1px solid black;
}
.wrapper .screen-box-wrap .col-right .notice li{
    float: left;
}
.wrapper .screen-box-wrap .col-right .notice .title{
    width: 290px;
    height: 24px;
    margin-top: 4px;
    padding-bottom: 1px solid black;
}
.wrapper .screen-box-wrap .col-right .notice .title li{
    width:32px;
    line-height: 20px;
    margin: 0 11px;
    text-align: center;
}
.wrapper .screen-box-wrap .col-right .notice .title li a{
    color: #3c3c3c;
    font-size: 14px;
}
.wrapper .screen-box-wrap .col-right .notice .title li.select{
    font-weight: 700;
    border-bottom: 2px solid #f40;
}
.wrapper .screen-box-wrap .col-right .notice li a:hover{
    color: #ff5000;
}
.wrapper .screen-box-wrap .col-right .notice .con li{
    width: 100px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 5px;
}
.wrapper .screen-box-wrap .col-right .notice .con li a{
    color: #3c3c3c;
    font-size: 12px;
}
.wrapper .screen-box-wrap .col-right .notice .con li .select{
    color: #ff5000;
}
.wrapper .screen-box-wrap .col-right .moudle{
    height: 232px;
    width: 290px;
    border: 1px soild #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle li{
    float: left;
    width: 71px;
    height: 75px;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle li a{
    display: block;
    text-align:center;
}
.wrapper .screen-box-wrap .col-right .moudle li a span{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('img/pics.png') 100% 100% no-repeat;
    margin-top: 10px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic1{
    background-position:0px 0px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic2{
    background-position:0px -85px; 
}.wrapper .screen-box-wrap .col-right .moudle li a .pic3{
    background-position:0px -44px; 
}.wrapper .screen-box-wrap .col-right .moudle li a .pic4{
    background-position:0px -132px; 
}.wrapper .screen-box-wrap .col-right .moudle li a .pic5{
    background-position:0px -176px; 
}.wrapper .screen-box-wrap .col-right .moudle li a .pic6{
    background-position:0px -220px; 
}.wrapper .screen-box-wrap .col-right .moudle li a .pic7{
    background-position:0px -264px; 
}.wrapper .screen-box-wrap .col-right .moudle li a .pic8{
    background-position:0px -308px; 
}.wrapper .screen-box-wrap .col-right .moudle li a .pic9{
    background-position:0px -352px; 
}.wrapper .screen-box-wrap .col-right .moudle li a .pic10{
    background-position:0px -396px; 
}.wrapper .screen-box-wrap .col-right .moudle li a .pic11{
    background-position:0px -440px; 
}.wrapper .screen-box-wrap .col-right .moudle li a .pic12{
    background-position:0px -484px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a p{
    columns: #3c3c3c;
    font-size: 12px;
    line-height: 24px;
}
.wrapper .screen-box-wrap .col-right .moudle li a:hover p{
    color: #ff5000;
}
.wrapper .screen-box-wrap .col-right .member .member-ft .login{
    width: 92px;
}
.wrapper .screen-box-wrap .col-right .app{
    height: 100px;
    width:290px;
}
.wrapper .screen-box-wrap .col-right .app h3{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 14px;
    position: relative;
}
.wrapper .screen-box-wrap .col-right .app h3 a{
    position: absolute;
    right: 10px;
    color: #3c3c3c;
}
.wrapper .screen-box-wrap .col-right .app ul{
    height: 84px;
    padding-left: 23px;
}
.wrapper .screen-box-wrap .col-right .app ul li{
    float: left;
    height: 32px;
    width: 32px;
    margin-right: 21px;
    margin-bottom: 8px;
}
.wrapper .screen-box-wrap .col-right .app ul li img{
    height: 32px;
    width:32px;
}
.wrapper .screen-box-wrap .main .main-inner{
    width: 720px;
    height: 522px;
    /* border :1px solid black; */
    display: inline-block;
    vertical-align: top;
}
.wrapper .screen-box-wrap .main .col-middle{
    width: 160px;
    height: 512px;
    margin-top: 10px;
    /* border: 1px soild black; */
    display: inline-block;
    vertical-align: top;
}
.wrapper .screen-box-wrap .main .col-middle h5{
    color: #a1a1a1;
    font-size: 12px;
    line-height: 20px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left{
    height: 522px;
    width: 190px;
    background-color:#fff;
    float: left;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul{
    border: 1px solid #ff5000;
    border-top: none;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li{
    height: 32px;
    width: 144px;
    line-height: 32px;
    font-weight:400;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li a{
    color: #666;

}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover a{
    color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover{
    
    background-color: #ffeee5;
    color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li span{
    position: absolute;
    display: inline-block;
    right: 10px;
    height: 8px;
    width: 5px;
    background-image: url('img/yjt.png');
    background-size: 100% 100%;
    top: 50%;
    margin-top: -4px;
}

.wrapper .screen-box-wrap .main .main-inner .inner-con{
    width: 520px;
    height: 520px;
    /* background: #f40; */
    float: left;
    margin-left:10px;
    margin-top: 10px; 
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall{
    width: 520px;
    height: 230px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head{
    width: 520px;
    height: 16px;
    border-bottom: 3px solid #ff1648;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head img{
    width: 520px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head .tm-pic{
    display: inline-block;
    width: 136px;
    height: 14px;
    background-image: url('img/tm.png');
    background-size: 100% 100%;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head .tm{
    color: #666;
    font-size: 12px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box{
    position: relative;
    width: 520px;
    height:280px;
    overflow: hidden;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #list{
    position: absolute;;
    width: 2600px;
    height: 280px;
    z-index: 1;
} 
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #list img{
    float: left;
    width: 520px;
    height: 280px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #button{
    position: absolute;
    left: 224px;
    bottom: 25px;
    height: 10px;
    width:100px;
    z-index: 2;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #button span{
    float: left;
    height: 10px;
    width: 10px;
    margin-right:10px;
    border: 1px solid #fff; 
    border-radius: 50%;
    background:#333;
    cursor: pointer;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #button span.select{
    background: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box .arrow{
    position: absolute;
    top: 132px;
    z-index: 2;
    display: none;
    width: 40px;
    height: 40px;
    font-size: 36px;
    line-height: 39px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color:rgba(0, 0,0,.3);
    cursor: pointer; 
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box .arrow:hover{
    background-color: rgba(0, 0,0,.7);
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box:hover .arrow{
    display: block;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #prev{
    left: 20px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #next{
    right: 20px;
}
.wrapper .screen-box-wrap .main .main-bottom{
    width: 888px;
    height: 100px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con{
    position: relative;
    margin-top: 10px;
    height: 73px;
    padding: 14px 14px 12px 20px;
    background-color: #fff;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .log{
    float: left;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon{
    width: 675px;
    height: 73;
    position: absolute;
    top: 14px;
    left: 200px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon img{
    float: left;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #333;
    margin-top: 2px;
    margin-left: 144px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon h4:hover{
    color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon p{
    margin-left: 144px;
    color: #999;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    font-size: 14px;
}
